
       .box {
           
            /* padding: 2rem; */
            margin: 4rem;
            text-align: center;
            height: 32rem;
            width:30rem;
            box-shadow: 2px 2px 5px rgba(48, 15, 15, 0.4);
            border-radius: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .box:hover{
         border: 2px solid black;
         background-color: rgb(227, 238, 234);
        }
       
        .box-row{
           display: flex;
           margin-top: 5rem;
        }
        .img{
          height: 15rem;
          width: 21rem;
          border-radius: 2rem;
        }
        .btn{
          color: black;
          border: 2px solid black;
          border-radius: 2rem;
          width: 10rem;
          background-color: aliceblue;
        }

